/*----------------
--------reset-----
------------------*/
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'PT Sans', sans-serif;
}
/*-----------------
-------common-----
------------------*/
.row{
    display: flex;
}
.container{
    max-width: 100%;
    margin: auto;
}
.sub-container{
    max-width: 100%;
    margin: auto;
}
.started-container{
    max-width: 100%;
    margin: auto;
}









/*---------------
------header-----
----------------*/
header{
    background-color: #0084fd;
    position: fixed;
    z-index: 1;
    left: 0px;
    right: 0px;
    padding: 10px 25px;
}
.head-nav{

}
.left-head{
    width: 30%;
}
.right-head{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.icon-head{
    font-size: 1.5rem;
    color: white;
}
.nav-list{
    display: none;
}
.right-head .nav-list ul{
    list-style: none;
    align-items: center;
    font-size: 1.15rem;
}
.right-head .nav-list ul li{
    padding: 0px 10px;
}
.right-head .nav-list ul li a{
    text-decoration: none;
    color: white;
}
.nav-button{
    padding: 7px 10px;
    border: none;
    border-radius: 30px;
}
/*----------------
-----main---------
----------------*/
.card-grid{
    padding: 100px 25px;
    width: 100%;
}
.card-title{
    font-size: 1.65rem;
    color: #0084fd;
    margin-bottom: 25px;
}
.card{
    background-color: #b5ddff;
    width:100%;
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}
.card-p{
    margin-bottom: 30px;
}
.card-button{
    background-color: #0084fd;
    color: white;
    padding: 10px 70px;
    border: none;
    border-radius: 20px;
    font-size: 1.05rem;
    margin-bottom: 30px;
}
.button-icon{
    font-size: 1.10rem;
    margin-right: 7px;
}
.card-image{
    width: 300px;
    display: block;
}
.card:not(:first-child){
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.card-icon{
    font-size: 5rem;
    margin-bottom: 20px;
    color: #0084fd;
}

/*-----------------
--section planning
------------------*/
.planning-section{
    background-color: #9792e4;
    padding: 30px 25px;
    margin-bottom: 50px;
}
.planning-img{
    width: 100%;
}
.planning-img{
    padding: 30px 25px;

}
.planning-right{
    border: none;
    border-radius: 50px;
    background-color: white;
    text-align: center;
    padding: 15px 10px;
}
.planning-left img{
    margin-bottom: 60px;
}
.planning-title{
    font-size: 2.7rem;
    color: white;
    margin-bottom: 40px;
}
.planning-p{
    color: white;
    margin-bottom: 40px;
}
.planning-right h2{
    margin-bottom: 30px;
}
.planning-right p{
    margin-bottom: 30px;
}
.planning-button {
    padding: 10px;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #9792e4;
}
/*-------------------
--sezione testimonials
--------------------*/
.testimonials{
    text-align: center;
    padding: 0px 25px;
    margin-bottom: 50px;
}
#categorie{
    margin-bottom: 25px;
    font-size: 1.1rem;
}
.testimonials-title{
    font-size: 2.7rem;
    color: #9792e4;
    margin-bottom: 30px;
}
.testimonials p{
    font-size: 1.1rem;
    margin-bottom: 40px;
}
.person-img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial-card{
    background-color: #9792e4;
    padding: 40px 20px;
    border-radius: 35px;
    margin-bottom: 30px;
}
.quote{
    color:white
}
/*------------------
-benefits----------
------------------*/
.benefits{
    background-color:#9792e4;
    padding: 50px 25px;
    margin-bottom: 50px;
}
.benefits-title{
    text-align: center;
    font-size: 2.7rem;
    color: white;
    margin-bottom: 50px;
}
.benefit-card{
    padding: 35px 25px;
    background-color: white;
    border-radius: 35px;
    margin-bottom: 20px;
}
.benefit-card h2 {
    font-size: 4rem;
    color: #9792e4;
    margin-bottom: 15px;
}
.benefit-card h3{
    font-size: 1.6rem;
    color: #9792e4;
    margin-bottom: 18px;
}
.benefit-card p{
    margin-bottom: 25px;
}
.more{
    padding: 10px 40px;
    background-color: #9792e4;
    color: white;
    border: none;
    border-radius: 20px;
}
/*-------------------
----About-us--------
-------------------*/
.about-us{
    padding: 0px 25px;
    margin-bottom: 50px;
}
.left-about h2{
    font-size: 3.9rem;
    color: #9792e4;
    padding-bottom: 30px;
}
.left-about p{
    margin-bottom: 50px;
}
.img-icon{
    position: relative;
    width: 200px;
    margin-bottom: 30px;
}
.quote-mark{
    color: #9792e4;
    font-size: 50px;
    position: absolute;
    top:0;
    right: 0;
}
.about-img{
    width: 200px; 
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.right-about h3{
    font-size: 2rem;
    color: #9792e4;
    margin-bottom: 30px;
}
.right-about button{
    color: white;
    background-color: #9792e4;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
}
.Linkedin{
    padding-right: 10px;
}
/*------------------
---get-started------
-------------------*/
.get-started{
    background-color: #9792e4;
    text-align: center;
    padding: 50px 25px;
}
#started{
    color: #d5d4f4;
    margin-bottom: 20px;
}
.get-started h3{
    font-size: 2.2rem;
    color: white;
    margin-bottom: 25px;
}
#free{
    font-size: 4.5rem;
    color: #fdc15f;
    margin-bottom: 25px;
}
.get-started p{
    color: white;
    margin-bottom: 25px;
}
.get-started button{
    background-color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    font-size: 1.06rem;
    color: #9792e4;
    margin-bottom: 20px;
}
/*------------
---footer---
-----------*/
footer{
    background-color: #333333;
    text-align: center;
    color: white;
}
.foot{ 
    padding: 40px 25px;
}
.foot p{
    margin-bottom: 70px;
}
/*-------------------
-----media query-----
-------------------*/
@media screen and (min-width:470px){
    .started-container{
        max-width: 470px ;
    }
}    
@media screen and (min-width:768px){
    .card:first-child{
        width: calc(100%/3*2 - 10px);
    } 
    .card{
        width: calc(100%/3 - 10px);
    } 
    .card-grid{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    /*testimonials*/
    .testimonial-card{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .person{
        width: calc(100%/3 - 15px);
        margin-bottom: 0px;
    }
    .quote{
        width: calc(100%/3*2 - 15px);
        text-align: left;
    }
    /*--benefits---*/
    .benefit-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .benefit-card{
        width:calc(50% - 15px);
    }
    /*----about row---*/
    .about-row{
        display: flex;
        justify-content: space-between;
    }
    .left-about{
        width: 55%;
        padding: 0px 20px;
    }
    .right-about{
        width: 40%;
    }
}
@media screen and (min-width:992px) {
    /*--common---*/
    .container{
        max-width: 100%;
    }
    .sub-container{
        max-width: 750px;
    }
    /*---header---*/
    .nav-list{
        display: block;
    }
    .icon-head{
        display: none;
    } 
    /*----main cards---*/
    .card-grid{
        padding: 100px 0px;
    }
    .card:first-child{
        display: flex;
    }
    .card:first-child .left-card{
        width: 50%;
    }
    .right-card{
        width: 50%;
    }
    /*-----planning---*/
    .planning{
        display: flex;
    }
    .planning-left{
        width: 60%;
        padding-right: 20px;
    }
 
    .planning-right{
        width: 40%;
        align-self: flex-end;
    }
    .planning-p{
        margin-bottom: 0px;
    }
    /*----testimonials--*/
    .testimonials{
        padding: 0px 0px;
    }
    .person{
        width: 25%;
    }
    .quote{
        width: 65%;
    }
    /*-----benefits-----*/
    .benefit-card{
        width:calc(100%/3 - 10px);
    }
    /*-----about---*/
    .left-about{
        width: 68%;
    }
    .right-about{
        width: 25%;
    }
}
/*---messo questo per renderlo un po piu fluido*/
@media screen and (min-width:1050px){
    .container{
        max-width: 1050px;
    }
}